@model WantSoraCoreMVC.Models.ForumPost
@using System.Web;
@{
    ViewData["Title"] = "PostView";
    int categoryId = Model.ForumPostCategories.FirstOrDefault().CategoryId;
    string categoryTitle = Model.ForumPostCategories.FirstOrDefault().Category.Title;
}


<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Forum">討論區</a></li>
        <li class="breadcrumb-item">@Html.ActionLink(@categoryTitle, "PostList", "Forum", new { categoryId = categoryId }, null)</li>
        <li class="breadcrumb-item active">@Model.Title</ li >

    </ol>
</nav>


<div class="bg-primary bg-opacity-25 m-5">
    <div class="bg-body p-3 rounded-3 border m-5">
        <h4 class="border-bottom"><i class="bi bi-chat-right-heart-fill text-danger text-opacity-50"></i> @Model.Title</h4>
    <div class="p-3">
        <div class="border-bottom row">
            <span class="col-7">作者：@Model.Account.UserName</span>
                <span class="small text-body-tertiary col-2">@Model.Created</span>
                <span class="small small text-body-tertiary  col-2">觀看次數: @Html.DisplayFor(model => model.ViewCount)</span>
                <span class="badge rounded-pill bg-primary bg-opacity-25 bi bi-star-fill text-danger text-opacity-75  col-1">Like</span>

        </div>
        <div class="col-11 m-auto pt-3">
            @Html.Raw(HttpUtility.HtmlDecode(Model.PostContent))

        </div>



    </div>
    @{
        if (Model.Updated != null)
        {
            <div class="small text-light">文章最後更新時間：@Model.Updated</div>
        }
    }
</div>
</div>



<p>
    @Html.ActionLink("回上一頁", "PostList", "Forum", new { categoryId = categoryId }, null)
</p>

<script src="~/Scripts/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: 'textarea#tiny',
        menubar: false,
        plugins: [
            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | a11ycheck casechange blocks | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify |' +
            'bullist numlist checklist outdent indent | removeformat | code table help'
    })
</script>