@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model IPagedList<ForumPost>

@{
    ViewData["Title"] = "PostList";
    int categoryId = ViewBag.CategoryId;
}



<h1>PostList</h1>

<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Forum">討論區</a></li>
        <li class="breadcrumb-item active">@Model.FirstOrDefault().ForumPostCategories.FirstOrDefault().Category.Title</ li >
    </ol>
</nav>
<p>
    @Html.ActionLink("發表文章", "CreatePost", new { categoryId = categoryId })
</p>

@using (Html.BeginForm())
{
    <div class="qodef-form-holder">
        <input type="text" placeholder="Search forums..." class="qodef-search-field" autocomplete="off" name="q" tabindex="101" value="@ViewBag.CurrentQ">
        <button tabindex="102" class="button" type="submit" value=""><i class="bi bi-search"></i></button>
    </div>
}


<div class="row">
<table class="table text-start form-text align-middle">
    <tr class="h6">
        <th class="col-4">
            文章標題
        </th>
        <th class="text-center col-2">
            回覆數/觀看次數
        </th>
        <th class="text-center col-2">
            發文時間

            @Html.ActionLink(" ", "PostList", "Forum", new { categoryId = categoryId, OrderBy = "Date" ,q=ViewBag.CurrentQ}, new { @class = "bi bi-arrow-up-square link-underline link-underline-opacity-0" })

            @Html.ActionLink(" ", "PostList", "Forum", new { categoryId = categoryId, OrderBy = "Date_desc",q=ViewBag.CurrentQ }, new { @class = "bi bi-arrow-down-square link-underline link-underline-opacity-0" })
        </th>
        <th class="text-center col-2">
            最後更新時間
        </th>
        <th class="text-center col-2">
            最新回覆時間
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="h6 link-offset-1-hover">@Html.ActionLink(item.Title, "PostView", "Forum", new { postID = item.PostId }, null)</span><br />
                <span class="text-secondary">@Html.DisplayFor(modelItem => item.Account.UserName)</span>
            </td>
            <td class="text-center">
                    @{
                        int postID = item.PostId;
                        int count = Convert.ToInt32(item.InverseParent.Count);
                    }
                @count <i class="bi bi-reply-fill"></i> / @Html.DisplayFor(modelItem => item.ViewCount)  <i class="bi bi-eye-fill"></i>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ForumPostComments.OrderByDescending(c => c.Created).FirstOrDefault().Created)<br />
                @Html.DisplayFor(modelItem => item.ForumPostComments.OrderByDescending(c => c.Created).FirstOrDefault().Account.UserName)
            </td>
        </tr>
    }

</table>
</div>

<div class="pagination justify-content-center"


@Html.PagedListPager(Model, page => Url.Action("PostList", new { page, OrderBy=ViewBag.CurrentSort, q=ViewBag.CurrentQ,categoryId=categoryId}),new PagedListRenderOptions {
    DisplayLinkToIndividualPages = true,
    DisplayPageCountAndCurrentLocation = false,
    MaximumPageNumbersToDisplay = 10,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    UlElementClasses = new string[] { "pagination pagination-sm" }
})
</div>