@model WantSoraCoreMVC.Models.ForumPost
@using System.Web;
@{
    ViewData["Title"] = "PostView";
    int categoryId = Model.ForumPostCategories.FirstOrDefault().CategoryId;
    string categoryTitle = Model.ForumPostCategories.FirstOrDefault().Category.Title;
}


<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Forum">討論區</a></li>
        <li class="breadcrumb-item">@Html.ActionLink(@categoryTitle, "PostList", "Forum", new { categoryId = categoryId }, null)</li>
        <li class="breadcrumb-item active">@Model.Title</ li >

    </ol>
</nav>

<div class="bg-white">
    <h4 class="border-bottom">@Model.Title</h4>
    <div>
        <div class="border-bottom">
            <span>作者：@Model.Account.UserName</span>
            <span class="small text-body-tertiary">@Model.Created</span>
            <span class="small small text-body-tertiary">觀看次數: @Html.DisplayFor(model => model.ViewCount)</span>
            <span class="badge rounded-pill bg-primary bg-opacity-25 bi bi-star-fill text-danger text-opacity-75">Like</span>

        </div>
        <div>
            @Html.Raw(HttpUtility.HtmlDecode(Model.PostContent))

        </div>



    </div>
    @{
        if (Model.Updated != null)
        {
            <div class="small text-light">文章最後更新時間：@Model.Updated</div>
        }
    }
</div>




<p>
    @Html.ActionLink("回上一頁", "PostList", "Forum", new { categoryId = categoryId }, null)
</p>

<script src="~/Scripts/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: 'textarea#tiny',
        menubar: false,
        plugins: [
            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | a11ycheck casechange blocks | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify |' +
            'bullist numlist checklist outdent indent | removeformat | code table help'
    })
</script>