@model WantSoraCoreMVC.ViewModels.ForumPostViewModel
@using System.Web;
@{
    ViewData["Title"] = "PostView";
    int categoryId = Model.MainPost.ForumPostCategories.FirstOrDefault().CategoryId;
    string categoryTitle = Model.MainPost.ForumPostCategories.FirstOrDefault().Category.Title;
}

<div class="container col-9">
<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Forum">討論區</a></li>
        <li class="breadcrumb-item">@Html.ActionLink(@categoryTitle, "PostList", "Forum", new { categoryId = categoryId }, null)</li>
        <li class="breadcrumb-item active">@Model.MainPost.Title</ li >

    </ol>
</nav>


@*#1的部分*@
<div class="bg-primary bg-opacity-10 rounded-3">　
    <div class="bg-body rounded-3 border mx-3 p-3">
        <h4 class="border-bottom"><i class="bi bi-chat-right-heart-fill text-danger text-opacity-50"></i> @Model.MainPost.Title</h4>
        <div class="p-3">
            <div class="border-bottom row">
                    <span class="col-8"><span class="badge bg-light badge-pill">樓主</span>  @Model.MainPost.Account.UserName</span>
                <span class="col-4 text-end">
                    <span class="small text-body-tertiary">@Model.MainPost.Created</span>
                    <span class="small small text-body-tertiary">觀看次數: @Html.DisplayFor(model => model.MainPost.ViewCount)</span>
                    <span class="badge rounded-pill bg-primary bg-opacity-25 bi bi-star-fill text-danger text-opacity-75">Like</span>
                </span>
            </div>
            <div class="col-11 m-auto pt-3">
                @Html.Raw(HttpUtility.HtmlDecode(Model.MainPost.PostContent))

            </div>
        </div>
        @{
            if (Model.MainPost.Updated != null)
            {
                <div class="small text-body text-opacity-50 text-end">最後更新時間：@Model.MainPost.Updated</div>
            }
        }
        <hr />
        @*主樓留言*@
        <div class="row justify-content-end me-1 small">
        <div class="bg-light col-11">
            @{
                int count = 0;
                foreach (var comment in Model.Comments)
                {
                    count++;
                        <div class="flex-column">
                            <span class="text-info">@comment.Account.UserName</span>
                            <span class="ml-auto">-@comment.Comment</span>
                                
                         <div class="small">B@(count) @comment.Created</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>　
    </div>

    @*#2之後的部分*@
    @{
        int floorCount = 0;
        foreach (var item in Model.Replies)
        {
            floorCount++;
            if (item.Status == 3)//處理已刪除回文的顯示
        {
            <br />
            <div class="bg-primary bg-opacity-10 rounded-3">　
                <div class="bg-body rounded-3 border mx-3 p-3">
                    <div class="px-3">
                        <div class="border-bottom row">
                            
                        </div>

                        <div class="col-11 m-auto text-body d-inline-flex align-middle">
                                <span class="badge bg-light badge-pill">@(floorCount)樓</span>
                                <i class="bi bi-trash-fill text-danger text-opacity-50 ms-3"></i>此文章已刪除
                                <span class="text-body text-opacity-50 ms-3">原作者:@item.Account.UserName</span>
                            @{
                                if (item.Updated != null)
                                {
                                    <span class="small text-body text-opacity-50 ms-3">刪除時間：@item.Updated</span>
                                }
                            }
                        </div>
                    </div>
                    <hr class="m-0" />
                </div>　
            </div>
        }
        else{//正常回文的顯示
        <br />
        <div class="bg-primary bg-opacity-10 rounded-3">　
            <div class="bg-body rounded-3 border mx-3 p-3">
                <div class="p-3">
                    <div class="border-bottom row">
                                <span class="col-8"><span class="badge bg-light badge-pill">@(floorCount)樓</span> @item.Account.UserName</span>
                        <span class="col-4 text-end">
                            <span class="small text-body-tertiary">@item.Created</span>
                            <span class="badge rounded-pill bg-primary bg-opacity-25 bi bi-star-fill text-danger text-opacity-75">Like</span>
                        </span>
                    </div>

                    <div class="col-11 m-auto pt-3">
                        @Html.Raw(HttpUtility.HtmlDecode(item.PostContent))
                    </div>



                </div>
                @{
                    if (item.Updated != null)
                    {
                        <div class="small text-body text-opacity-50 text-end">最後更新時間：@item.Updated</div>
                    }
                }
                <hr />

            </div>　
        </div>
        }
    }
}

<p>
    @Html.ActionLink("回上一頁", "PostList", "Forum", new { categoryId = categoryId }, null)
</p>
</div>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: 'textarea#tiny',
        menubar: false,
        plugins: [
            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | a11ycheck casechange blocks | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify |' +
            'bullist numlist checklist outdent indent | removeformat | code table help'
    })
</script>